@charset "utf-8";
/* CSS Document */

body{
	background:#f1f9f9;
}

.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 0 auto;
	//margin-top:90px;
    background-color: #fff;
	
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
			
	font-family:Tahoma, Geneva, sans-serif;
	color:#990000;
	font-weight:lighter;
}

.form-signin .form-signin-heading{
    color:#00A2D1;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
    font-size: 16px;
    height: 45px;
    padding: 7px 9px;
}

.signin-form, .body-container
{
	//border:solid red 1px;
	margin-top:110px;
}
.navbar-brand{
	font-family:"Lucida Handwriting";
}
#btn-submit{
	height:45px;
}
.h5{
	font-family:Verdana, Geneva, sans-serif;
}
h1{
	font-family:Verdana, Geneva, sans-serif;
}


/* parsleyCSS */
.wrapper{
	//padding-top: 20px;
	padding-top: 50px;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {    
    border-color:#843534;
    box-shadow: none;
}


input.parsley-error:focus,
select.parsley-error:focus,
textarea.parsley-error:focus {    
    border-color:#843534;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483
}


.parsley-errors-list {
    list-style-type: none;
    opacity: 0;
    transition: all .3s ease-in;

    color: #d16e6c;
    margin-top: 5px;
    margin-bottom: 0;
  padding-left: 0;
}

.parsley-errors-list.filled {
    opacity: 1;
    color: #a94442;
}


/* Google Map API*/
#map_canvas {
    box-shadow: 1px 16px 9px -12px #333;
    height: 350px;
    margin-bottom: 20px;
    width: 100%;
}
.canvas_btm {

background-repeat : no-repeat;
height : 25px;
width: 100%;
}
.direction {
    float: right;
    margin: auto auto 20px;
    width: 590px;
}
.direction table {
    border: 1px solid #000000;
    float: right;
    margin: 4px 0 10px auto;
    width: 403px;
}
.direction table td input[type="text"] {
color : #000;
padding : 0;
}

.item-page p {
    width: 271px;
}
/* =THE END=  */

/*Lazy fixes*/
.MasterSpacer{
    margin-top:73px;
    width:100%;
    height:50%;
    border:solid 1px red;
    clear: both;
    display:block;
}
/*The END*/
